#camp
  background-image: image-url("heroes/camp-hero-600.jpg")
  background-position: center bottom

  +at-breakpoint($break6)
    background-image: image-url("heroes/camp-hero-800.jpg")
    background-position: center center

$shrink: .618

.hero_bottom
  .quote_source
    font-size: $scale2 * $shrink
    font-weight: bold
    color: $font-orange

    +at-breakpoint($break6)
      font-size: $scale2c * $shrink
