#camp
  background-image: image-url("heroes/camp-hero-600.jpg")
  background-position: center bottom

  +at-breakpoint($break6)
    background-image: image-url("heroes/camp-hero-800.jpg")
    background-position: center center

$shrink: .618

.hero_bottom
  .quote_source
    font-size: $scale2 * $shrink
    font-weight: bold
    color: $font-orange

    +at-breakpoint($break6)
      font-size: $scale2c * $shrink

#camp_body
  .sidebar
    +span-columns(2, $break6)
    .box
      padding-right: $scale3
      h2
        margin-bottom: $scale2
  .camp_top
    +span-columns(4 omega, $break6)
  .image_row_1
    +span-columns(4 omega, $break6)
    margin-bottom: $gutter-width * .618
    padding-top: $gutter-width
  .image_row_2
    +span-columns(4, $break6)
    margin-bottom: $gutter-width * 2
  .camp_bottom
    +span-columns(4 omega, $break6)
    padding-bottom: $scale3
    border-bottom: 5px solid $cyan
    p
      margin-bottom: $scale2
      color: $cyan
  .image1, .image3
    +span-columns(2, 4)
  .image2, .image4
    +span-columns(2 omega, 4)
  .image1, .image2, .image3, .image4
    height: 83px
  .image1
    background: image-url("pics/image-1-93.jpg") left center no-repeat
  .image2
    background: image-url("pics/image-2-93.jpg") left center no-repeat
  .image3
    background: image-url("pics/image-3-93.jpg") left center no-repeat
  .image4
    background: image-url("pics/image-4-93.jpg") left center no-repeat

  +at-breakpoint($break6)
    .image_row_1
      margin-bottom: $gutter-width
    .image1, .image2, .image3, .image4
      height: 140px
    .image1
      background: image-url("pics/image-1-157.jpg") left center no-repeat
    .image2
      background: image-url("pics/image-2-157.jpg") left center no-repeat
    .image3
      background: image-url("pics/image-3-157.jpg") left center no-repeat
    .image4
      background: image-url("pics/image-4-157.jpg") left center no-repeat
