/* Hero
  -----------------------

#hero
  position: relative
  width: 100%
  height: 178px
  overflow: hidden
  background-color: $black
  // +hidden

  +at-breakpoint($break6)
    height: 272px

.slide
  position: relative
  float: left
  display: block
  width: 319px
  height: 178px
  .slide-block
    position: absolute
    display: block
    top: 0
    width: 100%
  h2
    font-family: $eaglefeather
  &:before
    +panel-shadow(.15, $scale-5)

  +at-breakpoint($break6)
    width: 487px
    height: 272px

// home slide ----------------------------- //

.home
  background: image-url("heroes/home-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/home-487.jpg") 0 0 no-repeat

  .slide-block
    width: 250px
    margin: 20px 0 0 40px
    h2
      line-height: 1
      color: $font-white
      font-size: $scale1
    span
      +single-text-shadow(0, 2px, 13px, false, #000)
    .a, .b, .c, .d
      font-size: $scale3
    .a
      color: $font-orange
    .b
      color: $font-yellow
    .c
      color: $font-purple
    .d
      color: $font-white-yellow

    +at-breakpoint($break6)
      width: 100%
      margin: 25px 0 0 40px

// camp slide ----------------------------- //

.camp
  background: image-url("heroes/camp-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/camp-487.jpg") 0 0 no-repeat

  .slide-block
    margin: 20px 0 0 40px
    h2
      line-height: .95
      color: $font-black
      +single-text-shadow(0, 5px, 8px, false, #fff)
    span
      display: block
    .a, .c, .e
      font-size: $scale1
    .b, .d
      font-size: $scale2
      color: $font-light-blue
    .e, a
      display: inline-block
    a
      width: 24px
      height: 24px
      margin: 0 0 -5px 2px
      background: image-url("icons/arw-but-738.png") 0 0 no-repeat

    +at-breakpoint($break6)
      margin: 25px 0 0 40px
      .b, .d
        font-size: $scale3

// students slide ------------------------- //

.students
  background: image-url("heroes/students-319-fade.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/students-487-fade.jpg") 0 0 no-repeat

  .slide-block
    height: 178px
    h2
      line-height: 1
      margin: 10px 0 $scale2 40px
      font-size: $scale1
      color: $font-blue
      +single-text-shadow(0, 5px, 8px, false, $font-off-white)
      span
        font-size: $scale5
        color: $font-navy-blue
        +single-text-shadow(0, 5px, 8px, false, $font-off-white)
      .mission
        display: none
    a
      display: block
      margin: 0 auto
      width: 100px
      height: 32px
      margin-left: 33px
      background: image-url("icons/apply-btn-487.png") 0 0 no-repeat
    ul
      display: none

    +at-breakpoint($break6)
      height: 272px
      h2
        margin: 20px 0 $scale2c 40px
        .mission
          display: block
          font-size: $scale1
      a
        margin-left: 40px
      ul
        position: absolute
        display: block
        bottom: 0
        width: 100%
        height: 72px
        margin: 0 0 -4px 0
      li
        display: inline-block
        line-height: 1.443
        width: 33%
        text-align: center
        font-size: $scale1
        color: $font-white
        +single-text-shadow(0, 5px, 8px, false, #000)
      li:nth-child(2)
        width: 32%

// language slide ------------------------- //

.language
  background: image-url("heroes/language-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/language-487.jpg") 0 0 no-repeat

  .slide-block
    line-height: 1
    margin: 20px 0 0 40px
    h2
      font-size: $scale2
      color: $font-white
      +single-text-shadow(0, 5px, 5px, false, $font-black)
      span
        display: block
        font-size: $scale4
    p
      display: none

    +at-breakpoint($break6)
      margin: 20px 0 0 40px
      h2
        margin-bottom: $scale2
        font-size: $scale1
        span
          font-size: $scale6
      p
        display: block
        min-height: 87px
        padding: 15px 0 0 90px
        font-size: $scale1
        color: $font-white
        +single-text-shadow(0, 5px, 8px, false, #000)
        background: image-url("icons/rosetta-stone-989.png") 0 0 no-repeat
        strong
          color: $font-orange
          +single-text-shadow(1px, 2px, 2px, false, #fff)

// slide controls ------------------------- //

.control
  position: absolute
  display: block
  top: 0
  width: 50%
  height: 178px

  +at-breakpoint($break6)
    height: 272px

#prev
  left: -118px
  background: image-url("icons/arrow-left-50.png") 100% 50% no-repeat

  +at-breakpoint($break6)
    left: -200px

#next
  right: -118px
  background: image-url("icons/arrow-right-50.png") 0 50% no-repeat

  +at-breakpoint($break6)
    right: -200px

#pager
  position: absolute
  display: block
  bottom: 1px
  right: 50%
  margin-right: -150px
  z-index: 1000
  a
    display: inline-block
    width: 5px
    height: 5px
    margin: 0 5px 0 0
    border: 2px solid #fff
    border: 2px solid rgba(255, 255, 255, 0.5)
    +border-radius(5px)
  .selected
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.5)
  span
    display: none

  +at-breakpoint($break6)
    bottom: 1px
    right: 50%
    margin-right: -240px
    a
      width: 7px
      height: 7px
      margin: 0 10px 0 0
      +border-radius(7px)


/* Testimonials
  -----------------------

#testimonial
  // +hidden
  &:before
    content: ""
    position: absolute
    top: -17px
    width: 100%
    height: 67px
    background: image-url("icons/circle-quote-70.png") 50% 0 no-repeat

    +at-breakpoint($break6)
      top: -24px
      height: 96px
      background: image-url("icons/circle-quote-100.png") 50% 0 no-repeat

.testimonial
  display: block
  height: 150px
  +clearfix
  .profile
    +span-columns(1, 4)
  .pic1
    +image-portal("pics/1.jpg", 55px)
  .pic2
    +image-portal("pics/2.jpg", 55px)
  .pic3
    +image-portal("pics/3.jpg", 55px)
  .pic4
    +image-portal("pics/4.jpg", 55px)

  +at-breakpoint($break6)
    .profile
      +span-columns(1, $break6)
    .pic1
      +image-portal("pics/1.jpg", 90px)
    .pic2
      +image-portal("pics/2.jpg", 90px)
    .pic3
      +image-portal("pics/3.jpg", 90px)
    .pic4
      +image-portal("pics/4.jpg", 90px)

  .profile-block
    +span-columns(3 omega, 4)

    +at-breakpoint($break6)
      +span-columns(4, $break6)


/* Founder
  -----------------------
#founder
  position: relative
  padding: 0
  color: $font-white
  background-color: $black
  +panel-trim
  // +hidden

.wood1
  height: $scale3
  background: image-url("fixtures/wood-panel.png") 15% 35% no-repeat
  // @extend .hide-eq-4

  +at-breakpoint($break6)
    height: $scale4

.founder
  background-color: $gray
  h2
    margin-bottom: 0
    font-family: $sanvito

.wood2
  position: relative
  background: image-url("fixtures/wood-panel.png") 100% 0 no-repeat

  +at-breakpoint($break6)
    +clearfix

  .quote
    position: relative
    padding: $scale1 0 $scale5
    z-index: 5613201117
    p
      font-size: $scale1
    .last
      margin-top: $scale3
      margin-bottom: -$scale1

    +at-breakpoint($break6)
      +span-columns(4)
      padding: $scale2 0 $scale6 75px
      background: image-url("icons/quotes-50.png") 4px 20px no-repeat
      p
        font-size: $scale1
      .last
        margin-top: $scale3
        margin-bottom: -$scale1

  &:after
    content: ""
    position: absolute
    right: 0
    bottom: 0

    +at-breakpoint($break6)
      width: 150px
      height: 161px
      background: image-url("pics/robert-150.png") no-repeat


/* Culture
  -----------------------

#culture
  // +hidden

.culture
  padding-top: 61px + 16px
  padding-left: $scale-5
  background: image-url("fixtures/inuuniatiqput-200.gif") 0 0 no-repeat

  +at-breakpoint($break6)
    padding-top: 71px + 16px
    background: image-url("fixtures/way-of-life-450.gif") 0 0 no-repeat
