#commission
  background-image: image-url("heroes/language-hero-650.jpg")
  background-position: right top
  a:hover
    text-decoration: underline

#slidingDiv
  display: none

#cd
  .cd-image a
    display: block

  +at-breakpoint($break6)
    .cd-image
      +span-columns(2, $break6)
      a
        width: 150px
        height: 168px
        background: image-url("pics/cd-150.png") 0 0 no-repeat
    .purchase
      +span-columns(4 omega, $break6)

#history
  background-color: $gray-2
  .elder
    float: right
    margin: $scale1 $scale3 0

    +at-breakpoint($break6)
      width: 125px
      height: 125px
      background: image-url("pics/elder-125.png") no-repeat

  &:before
    +panel-shadow(.05, $scale-5)
