#commission
  position: relative
  color: $font-off-white
  background-color: $aqua
  // @include background-image(linear-gradient(lighten($aqua, 8), $aqua 65%))
  // @include background-image(linear-gradient($aqua, lighten($aqua, 5) 45%, $aqua 95%))
  z-index: 1000
  a
    +link-colors($font-off-white, $font-off-white, $font-off-white, $font-off-white, $font-off-white)
  a:hover
    text-decoration: underline
  &:before
    +panel-shadow(.15, $scale-5)
  &:after
    content: ""
    position: absolute
    bottom: -14px
    width: 100%
    height: 14px
    background: image-url("fixtures/trim-bottom-aqua.png") 0 0 repeat-x

#slidingDiv
  display: none

#cd
  .cd-image a
    display: block

  +at-breakpoint($break6)
    .cd-image
      +span-columns(2, $break6)
      a
        width: 150px
        height: 168px
        background: image-url("pics/cd-150.png") 0 0 no-repeat
    .purchase
      +span-columns(4 omega, $break6)

#history
  background-color: $gray-2
  .elder
    float: right
    margin: $scale1 $scale3 0

    +at-breakpoint($break6)
      width: 125px
      height: 125px
      background: image-url("pics/elder-125.png") no-repeat

  &:before
    +panel-shadow(.05, $scale-5)
