@viewport
  width: device-width
  zoom: 1

@-ms-viewport
  width: device-width
  zoom: 1


/* Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body

.wrapper
  margin: 0 auto
  overflow: hidden

.container
  +container($total-columns, $break6)
  +susy-grid-background

  +at-breakpoint($break6)
    +susy-grid-background

img
  vertical-align: middle


/* Header
  -----------------------




/* Footer
  -----------------------


