/* Panels
  -----------------------

.panel
  position: relative
  padding: $scale5 0
  background-color: $bg-body
  // &:after
  //   +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: $scale6 0

/* Heroes
  -----------------------

$reduce: 2

.hero
  padding: ($scale5 / $reduce) 0
  text-align: center
  background-color: $yellow
  background-position: center top
  background-repeat: no-repeat
  h1, h2
    color: $font-white
    +single-text-shadow(0, 5px, 5px, false, $font-black)
  h1
    text-transform: uppercase
    letter-spacing: $scale-7
  h2
    line-height: 1.159
    padding: 0 $column-width / 2
  &:before
    +panel-shadow(.15, $scale-5)

  +at-breakpoint($break6)
    padding: ($scale6 / $reduce) 0

.hero_bottom
  padding: ($scale5 / $reduce) 0
  text-align: center
  background-color: $yellow
  p
    color: $font-gray
    text-transform: uppercase

  +at-breakpoint($break6)
    padding: ($scale6 / $reduce) 0


/* Toggles
  -----------------------

// Hide elements when breakpoint = 4 (< 6)
// Purpose: hide elements from the smallest screen sizes only (smart phones)

.hide-lt-6, .hide-eq-4
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden-inline

// Hide elements when breakpoint = 4
// Purpose: hide elements from the smallest screen sizes only (smart phones)

.hide-eq-4
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden-inline

// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hidden


/* Pages
  -----------------------

@import "home"
@import "students"
@import "language"
@import "support"
