#scholarships
  padding-bottom: $scale2b
  background-image: image-url("heroes/students-hero-600.jpg")
  background-position: left top
  a
    display: block
    width: 151px
    height: 48px
    margin: 0 auto
    background: image-url("icons/apply-btn-738.png") 0 0 no-repeat
  a:hover
    background: image-url("icons/apply-btn-738-2.png") 0 0 no-repeat

  +at-breakpoint($break6)
    padding-bottom: $scale2c
    background-image: image-url("heroes/students-hero-650.jpg")
    background-position: center top

#robert
  +hidden

#deadlines
  text-align: center
  background: $light-blue
  &:before
    +panel-shadow(.05, $scale-5)
  h2
    color: $font-orange
  .semester, .quarter, .summer, .vocational
    h3
      margin-top: $scale3
      border-bottom: 1px solid $bluish-white
