#scholarships
  a
    display: block
    width: 151px
    height: 48px
    margin: $scale1 auto 0
    background: image-url("icons/apply-btn-738.png") 0 0 no-repeat
  a:hover
    background: image-url("icons/apply-btn-738-2.png") 0 0 no-repeat
  background: $snow-blue image-url("heroes/snow.jpg") 50% 50% repeat-x
  &:before
    +panel-shadow(.15, $scale-5)

#robert
  +hidden

#deadlines
  +hidden
