#scholarships
  padding: ($scale5 / $reduce) 0 $scale2b
  background-image: image-url("heroes/students-hero-600.jpg")

  +at-breakpoint($break6)
    padding: ($scale6 / $reduce) 0 $scale2c
    background-image: image-url("heroes/students-hero-800.jpg")

#robert
  +hidden

#deadlines
  position: relative
  background: $light-blue
  &:before
    content: ""
    position: absolute
    top: -5px
    width: 100%
    height: 5px
    background: image-url("fixtures/trim-top-blue.png") 0 0 repeat-x
  .container
    text-align: center
    h2
      color: $font-orange
      margin-bottom: 0
  .deadlines
    margin-bottom: $scale-4
  .semester, .quarter, .summer, .vocational
    h3
      margin-top: $scale1
      border-bottom: 1px solid $bluish-white
  .semester
    h3
      margin-top: 0

  +at-breakpoint($break6)
    .deadlines
      margin-bottom: $scale-3

.student-panel
  padding-top: $scale6
  .testimonial
    height: 285px

  +at-breakpoint($break6)
    padding-top: $scale7
    .testimonial
      height: 320px
