#support
  background-color: $mustard
  background-image: image-url("heroes/support-hero-450.jpg")
  background-position: center bottom

.donate
  display: block
  width: 151px
  height: 48px
  margin: 0 auto
  background: image-url("icons/apply-btn-738.png") 0 0 no-repeat
  &:hover
    background: image-url("icons/apply-btn-738-2.png") 0 0 no-repeat

#sponsors
  +hidden

#thanks
  +hidden
