%head
  %meta{:charset => "utf-8"}
  %link{:rel => "dns-prefetch", :href => "//use.typekit.net"}
  %link{:rel => "dns-prefetch", :href => "//ajax.googleapis.com"}

  %title= content_for?(:title) ? ("Aqqaluk Trust - " + yield(:title)) : "Aqqaluk Trust"

  %meta{:name => "description", :content => "Aqqaluk Trust"}
  %meta{:name => "HandheldFriendly", :content => "True"}
  %meta{:name => "MobileOptimized", :content => "320"}
  -# %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
  %meta{:name => "viewport", :content => "width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes"}
  %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
  %meta{"http-equiv" => "cleartype", :content => "on"}

  %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/touch/apple-touch-icon-144x144-precomposed.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/touch/apple-touch-icon-114x114-precomposed.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72",   :href => "/touch/apple-touch-icon-72x72-precomposed.png"}
  %link{:rel => "apple-touch-icon-precomposed",                      :href => "/touch/apple-touch-icon-57x57-precomposed.png"}
  %link{:rel => "shortcut icon",                :sizes => "196x196", :href => "/touch/touch-icon-196x196.png"}
  %link{:rel => "shortcut icon",                                     :href => "/touch/apple-touch-icon.png"}

  -# Tile icon for Win8 (144x144 + tile color)
  %meta{:name => "msapplication-TileImage", :content => "/apple-touch-icon-144x144-precomposed.png"}
  %meta{:name => "msapplication-TileColor", :content => "#222222"}

  = stylesheet_link_tag "mobile"
  %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}
  = javascript_include_tag 'modernizr.custom.53769'

  %script{src: "//use.typekit.net/lqa5gqo.js", type: "text/javascript"}
  :javascript
    try{Typekit.load();}catch(e){}


  = csrf_meta_tag
