/* Hero
  -----------------------

#hero
  position: relative
  width: 100%
  height: 178px
  overflow: hidden
  background-color: $black
  // +hidden

  +at-breakpoint($break6)
    height: 272px

  +at-breakpoint($break9)
    height: 412px

  +at-breakpoint($break12)
    height: 550px

.slide
  position: relative
  float: left
  display: block
  width: 319px
  height: 178px
  .slide-block
    position: absolute
    display: block
    top: 0
    width: 100%
  h2
    font-family: $eaglefeather
  &:before
    +panel-shadow(.15, $em-5)

  +at-breakpoint($break6)
    width: 487px
    height: 272px

  +at-breakpoint($break9)
    width: 738px
    height: 412px

  +at-breakpoint($break12)
    width: 989px
    height: 550px

// home slide ----------------------------- //

.home
  background: image-url("heroes/home-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/home-487.jpg") 0 0 no-repeat

  +at-breakpoint($break9)
    background: image-url("heroes/home-738.jpg") 0 0 no-repeat

  +at-breakpoint($break12)
    background: image-url("heroes/home-989.jpg") 0 0 no-repeat

  .slide-block
    width: 250px
    margin: 20px 0 0 40px
    h2
      line-height: 1
      color: $font-white
      font-size: $em1
    span
      +single-text-shadow(0, 2px, 13px, false, #000)
    .a, .b, .c, .d
      font-size: $em3
    .a
      color: $font-orange
    .b
      color: $font-yellow
    .c
      color: $font-purple
    .d
      color: $font-white-yellow

    +at-breakpoint($break6)
      width: 100%
      margin: 25px 0 0 40px

    +at-breakpoint($break9)
      margin: 25px 0 0 50px
      h2
        font-size: $em3

    +at-breakpoint($break12)
      margin: 50px 0 0 50px
      h2
        font-size: $em4

// camp slide ----------------------------- //

.camp
  background: image-url("heroes/camp-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/camp-487.jpg") 0 0 no-repeat

  +at-breakpoint($break9)
    background: image-url("heroes/camp-738.jpg") 0 0 no-repeat

  +at-breakpoint($break12)
    background: image-url("heroes/camp-989.jpg") 0 0 no-repeat

  .slide-block
    margin: 20px 0 0 40px
    h2
      line-height: .95
      // color: $font-black
      // +single-text-shadow(0, 5px, 8px, false, #fff)
      color: $font-white
      +single-text-shadow(0, 5px, 5px, false, $font-black)
    span
      display: block
    .a, .c, .e
      font-size: $em1
    .b, .d
      font-size: $em2
      color: $font-light-blue
    .e, a
      display: inline-block
    a
      width: 24px
      height: 24px
      margin: 0 0 -5px 2px
      background: image-url("icons/arw-but-738.png") 0 0 no-repeat

    +at-breakpoint($break6)
      margin: 25px 0 0 40px
      .b, .d
        font-size: $em3

    +at-breakpoint($break9)
      margin: 30px 0 0 60px
      a
        width: 31px
        height: 31px
        margin: 0 0 -7px 3px
        background: image-url("icons/arw-but-989.png") 0 0 no-repeat

    +at-breakpoint($break12)
      margin: 50px 0 0 50px

// students slide ------------------------- //

.students
  background: image-url("heroes/students-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/students-487-fade.jpg") 0 0 no-repeat

  +at-breakpoint($break9)
    background: image-url("heroes/students-738-fade.jpg") 0 0 no-repeat

  +at-breakpoint($break12)
    background: image-url("heroes/students-989-fade.jpg") 0 0 no-repeat

  .slide-block
    height: 178px
    h2
      line-height: 1
      margin: 10px 0 $em2 40px
      font-size: $em1
      color: $font-blue
      +single-text-shadow(0, 5px, 8px, false, $font-off-white)
      span
        font-size: $em5
        color: $font-navy-blue
        +single-text-shadow(0, 5px, 8px, false, $font-off-white)
      .mission
        display: none
    a
      display: block
      margin: 0 auto
      width: 100px
      height: 32px
      margin-left: 33px
      background: image-url("icons/apply-btn-487.png") 0 0 no-repeat
    a:hover
      background: image-url("icons/apply-btn-487-2.png") 0 0 no-repeat
    ul
      display: none

    +at-breakpoint($break6)
      height: 272px
      h2
        margin: 20px 0 $em2c 40px
        .mission
          display: block
          font-size: $em1
      a
        margin-left: 40px
      ul
        position: absolute
        display: block
        bottom: 0
        width: 100%
        height: 72px
        margin: 0 0 -4px 0
      li
        display: inline-block
        line-height: 1.443
        width: 33%
        text-align: center
        font-size: $em1
        color: $font-white
        +single-text-shadow(0, 5px, 8px, false, #000)
      li:nth-child(2)
        width: 32%

    +at-breakpoint($break9)
      height: 412px
      h2
        margin: 30px 0 $em2c 50px
        font-size: $em3
      a
        width: 151px
        height: 48px
        margin-left: 140px
        background: image-url("icons/apply-btn-738.png") 0 0 no-repeat
      a:hover
        background: image-url("icons/apply-btn-738-2.png") 0 0 no-repeat
      ul
        height: 109px
        margin: 0 0 -18px 0
      li
        font-size: $em2

    +at-breakpoint($break12)
      height: 550px
      h2
        margin: 50px 0 $em2c 50px
        font-size: $em4
      a
        width: 202px
        height: 64px
        margin-left: 200px
        background: image-url("icons/apply-btn-989.png") 0 0 no-repeat
      a:hover
        background: image-url("icons/apply-btn-989-2.png") 0 0 no-repeat
      ul
        height: 146px
      li
        font-size: $em3

// language slide ------------------------- //

.language
  background: image-url("heroes/language-319.jpg") 0 0 no-repeat

  +at-breakpoint($break6)
    background: image-url("heroes/language-487.jpg") 0 0 no-repeat

  +at-breakpoint($break9)
    background: image-url("heroes/language-738.jpg") 0 0 no-repeat

  +at-breakpoint($break12)
    background: image-url("heroes/language-989.jpg") 0 0 no-repeat

  .slide-block
    line-height: 1
    margin: 20px 0 0 40px
    h2
      font-size: $em2
      color: $font-white
      +single-text-shadow(0, 5px, 5px, false, $font-black)
      span
        display: block
        font-size: $em4
    p
      display: none

    +at-breakpoint($break6)
      margin: 20px 0 0 40px
      h2
        margin-bottom: $em2
        font-size: $em1
        span
          font-size: $em6
      p
        display: block
        min-height: 87px
        padding: 15px 0 0 90px
        font-size: $em1
        color: $font-white
        +single-text-shadow(0, 5px, 8px, false, #000)
        background: image-url("icons/rosetta-stone-989.png") 0 0 no-repeat
        strong
          color: $font-orange
          +single-text-shadow(1px, 2px, 2px, false, #fff)

    +at-breakpoint($break9)
      margin: 30px 0 0 60px
      h2
        font-size: $em4
      p
        font-size: $em2b

    +at-breakpoint($break12)
      margin: 50px 0 0 50px
      h2

// slide controls ------------------------- //

.control
  position: absolute
  display: block
  top: 0
  width: 50%
  height: 178px

  +at-breakpoint($break6)
    height: 272px

  +at-breakpoint($break9)
    height: 412px

  +at-breakpoint($break12)
    height: 550px

#prev
  left: -118px
  background: image-url("icons/arrow-left-50.png") 100% 50% no-repeat

  +at-breakpoint($break6)
    left: -200px

  +at-breakpoint($break9)
    left: -320px

  +at-breakpoint($break12)
    left: -494px
    background: rgba(41, 35, 35, 0.5) image-url("icons/arrow-left.png") 100% 50% no-repeat

#next
  right: -118px
  background: image-url("icons/arrow-right-50.png") 0 50% no-repeat

  +at-breakpoint($break6)
    right: -200px

  +at-breakpoint($break9)
    right: -320px

  +at-breakpoint($break12)
    right: -494px
    background: rgba(41, 35, 35, 0.5) image-url("icons/arrow-right.png") 0 50% no-repeat

+at-breakpoint($break12)
  #prev, #next
    &:hover
      background-color: rgba(41, 35, 35, 0.3)

#pager
  position: absolute
  display: block
  bottom: 1px
  right: 50%
  margin-right: -150px
  z-index: 1000
  a
    display: inline-block
    width: 5px
    height: 5px
    margin: 0 5px 0 0
    border: 2px solid #fff
    border: 2px solid rgba(255, 255, 255, 0.5)
    +border-radius(5px)
  .selected
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.5)
  span
    display: none

  +at-breakpoint($break6)
    bottom: 1px
    right: 50%
    margin-right: -240px
    a
      width: 7px
      height: 7px
      margin: 0 10px 0 0
      +border-radius(7px)

  +at-breakpoint($break9)
    bottom: 5px
    margin-right: -360px
    a
      width: 10px
      height: 10px
      margin: 0 5px 0 0
      +border-radius(10px)

  +at-breakpoint($break12)
    bottom: 10px
    margin-right: -475px


/* Testimonials
  -----------------------

#testimonial
  // +hidden
  &:before
    content: ""
    position: absolute
    top: -17px
    width: 100%
    height: 67px
    background: image-url("icons/circle-quote-70.png") 50% 0 no-repeat
    +at-breakpoint($break6)
      top: -24px
      height: 96px
      background: image-url("icons/circle-quote-100.png") 50% 0 no-repeat

    +at-breakpoint($break9)
      top: -30px
      height: 125px
      background: image-url("icons/circle-quote-130.png") 50% 0 no-repeat

    +at-breakpoint($break12)
      top: -41px
      height: 164px
      background: image-url("icons/circle-quote.png") 50% 0 no-repeat

.testimonial
  display: block
  height: 150px
  +clearfix
  .profile
    +span-columns(1, 4)
  .pic1
    +image-portal("pics/1.jpg", 50px)
  .pic2
    +image-portal("pics/2.jpg", 50px)
  .pic3
    +image-portal("pics/3.jpg", 50px)
  .pic4
    +image-portal("pics/4.jpg", 50px)

  +at-breakpoint($break6)
    .profile
      +span-columns(1, $break6)
    .pic1
      +image-portal("pics/1.jpg", 90px)
    .pic2
      +image-portal("pics/2.jpg", 90px)
    .pic3
      +image-portal("pics/3.jpg", 90px)
    .pic4
      +image-portal("pics/4.jpg", 90px)

  +at-breakpoint($break9)
    .profile
      +span-columns(2, $break9)
      margin-left: $em1
    .pic1
      +image-portal("pics/1.jpg", 120px)
    .pic2
      +image-portal("pics/2.jpg", 120px)
    .pic3
      +image-portal("pics/3.jpg", 120px)
    .pic4
      +image-portal("pics/4.jpg", 120px)

  +at-breakpoint($break12)
    .profile
      +span-columns(2, $break12)
      +pre(1, $break12)
      margin-left: $column-width/2
    .pic1
      +image-portal("pics/1.jpg", 150px)
    .pic2
      +image-portal("pics/2.jpg", 150px)
    .pic3
      +image-portal("pics/3.jpg", 150px)
    .pic4
      +image-portal("pics/4.jpg", 150px)

  .profile-block
    +span-columns(3 omega, 4)

    +at-breakpoint($break6)
      +span-columns(4, $break6)

    +at-breakpoint($break9)
      +span-columns(7 omega, $break9)

    +at-breakpoint($break12)
      +span-columns(8, $break12)
      margin-left: $em-2


/* Founder
  -----------------------

#founder
  position: relative
  padding: 0
  color: $font-white
  background-color: $black
  +panel-trim
  // +hidden

.wood1
  height: $em3
  background: image-url("fixtures/wood-panel.png") 15% 35% no-repeat
  // @extend .hide-eq-4

  +at-breakpoint($break6)
    height: $em4

  +at-breakpoint($break9)
    height: $em5

  +at-breakpoint($break12)
    height: $em6

.founder
  background-color: $gray
  h2
    margin-bottom: 0
    font-family: $sanvito

.wood2
  position: relative
  background: image-url("fixtures/wood-panel.png") 100% 0 no-repeat

  +at-breakpoint($break6)
    +clearfix

  .quote
    position: relative
    padding: $em1 0 $em5
    z-index: 5613201117
    p
      font-size: $em1
    .last
      margin-top: $em3
      margin-bottom: -$em1

    +at-breakpoint($break6)
      +span-columns(4)
      padding: $em2 0 $em6 75px
      background: image-url("icons/quotes-50.png") 4px 20px no-repeat
      p
        font-size: $em1
      .last
        margin-top: $em3
        margin-bottom: -$em1

    +at-breakpoint($break9)
      +span-columns(6)
      padding: $em3 0 $em7 105px
      background: image-url("icons/quotes-75.png") 4px 20px no-repeat
      p
        font-size: $em2
      .last
        margin-top: $em4
        margin-bottom: -$em2

    +at-breakpoint($break12)
      +span-columns(8)
      padding: $em4 0 $em8 135px
      background: image-url("icons/quotes.png") 4px 16px no-repeat
      p
        font-size: $em2c
      .last
        margin-top: $em5
        margin-bottom: -$em3

  &:after
    content: ""
    position: absolute
    right: 0
    bottom: 0

    +at-breakpoint($break6)
      width: 150px
      height: 161px
      background: image-url("pics/robert-150.png") no-repeat

    +at-breakpoint($break9)
      width: 250px
      height: 269px
      background: image-url("pics/robert-250.png") no-repeat

    +at-breakpoint($break12)
      width: 391px
      height: 420px
      background: image-url("pics/robert.png") no-repeat


/* Culture
  -----------------------

#culture
  // +hidden

.culture
  padding-top: 61px + 16px
  padding-left: $em-5
  background: image-url("fixtures/inuuniatiqput-200.gif") 0 0 no-repeat

  +at-breakpoint($break6)
    padding-top: 71px + 16px
    background: image-url("fixtures/way-of-life-450.gif") 0 0 no-repeat

  +at-breakpoint($break9)
    padding-top: 111px + 32px
    background: image-url("fixtures/way-of-life-700.gif") 0 0 no-repeat

  +at-breakpoint($break12)
    padding-top: 135px + 48px
    background: image-url("fixtures/way-of-life.gif") 0 0 no-repeat
