/* Home
  -----------------------

#hero
  position: relative
  width: 100%
  height: 550px
  overflow: hidden
  background-color: $color-1
  // +hidden

.slide
  position: relative
  display: block
  float: left
  div
    position: absolute
    display: block
    top: 0

.carousel-sides
  position: absolute
  display: block
  top: 0
  width: 50%
  height: 550px
  // background-color: rgba(41, 35, 35, 0.7)
  background-color: rgba(255, 255, 255, 0.5)
  &:hover
    background-color: rgba(41, 35, 35, 0.3)

#prev
  left: -495px

#next
  right: -494px

#pager
  position: absolute
  display: block
  bottom: 10px
  right: 50%
  margin-right: -475px
  a
    display: inline-block
    width: 10px
    height: 10px
    margin: 0 5px 0 0
    border: 2px solid #fff
    border: 2px solid rgba(255, 255, 255, 0.5)
    +border-radius(10px)
  .selected
    background-color: #fff
    background-color: rgba(255, 255, 255, 0.5)
  span
    display: none


/* Testimonials
  -----------------------

.testimonial
  // clear: both
  display: block
  +clearfix
  .profile
    +span-columns(2, $break12)
  .pic1
    +image-portal("pics/1.jpg", 150px)
  .pic2
    +image-portal("pics/2.jpg", 150px)
  .pic3
    +image-portal("pics/3.jpg", 150px)
  .pic4
    +image-portal("pics/4.jpg", 150px)
  p
    +span-columns(10 omega, $break12)
