@viewport
  width: device-width

@-ms-viewport
  width: device-width


/* Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  font-size: $base-font-size
  line-height: $base-line-height
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  background-color: $bg-body
  &:after
    +rwd-marker

.wrapper
  margin: 0 auto
  overflow: hidden

.container
  +container($total-columns, $break6, $break9, $break12)
  // +susy-grid-background

  // +at-breakpoint($break6)
  //   +susy-grid-background

  // +at-breakpoint($break9)
  //   +susy-grid-background

  // +at-breakpoint($break12)
  //   +susy-grid-background

audio,
canvas,
img,
svg,
video
  vertical-align: middle


/* Header
  -----------------------

// navigation in _navigation.sass

header
  background-color: $bg-header
  +at-breakpoint($break9)
    height: 102px

  +at-breakpoint($break12)
    height: 126px

.logo
  float: left
  display: block
  width: 93px
  height: 63px
  background: image-url("mobile-sprite.png") 0 0 no-repeat

  +at-breakpoint($break9)
    // +span-columns(1, $break9)
    width: 150px
    height: 102px
    background: image-url("tablet-sprite.png") 0 0 no-repeat

  +at-breakpoint($break12)
    // +span-columns(3, $break12)
    width: 186px
    height: 126px
    background: image-url("desktop-sprite.png") -108px 0 no-repeat

header
  .container
    position: relative
  .utility
    position: absolute
    top: 0
    right: $scale3
    a
      margin-top: $scale-3


/* Footer
  -----------------------

footer
  position: relative
  background-color: $black
  padding-top: $scale5/2
  .container
    position: relative
    &:before
      content: ""
      position: absolute
      top: 0
      right: 20px
      width: 100px
      height: 61px
      background: image-url("mobile-sprite.png") -400px 0 no-repeat
  p
    font-size: $scale1
    color: $font-footer
  .copyright
    clear: both
  &:before
    content: ""
    position: absolute
    top: -11px
    width: 100%
    height: 11px
    background: image-url("fixtures/trim-top.png") 0 0 repeat-x

  +at-breakpoint($break6)
    padding-top: $scale6/2
    .footer-left
      +span-columns(2, $break6)
    .phone-number
      +span-columns(3, $break6)
    .container
      &:before
        width: 150px
        height: 91px
        background: image-url("mobile-sprite.png") -230px 0 no-repeat

  +at-breakpoint($break9)
    padding-top: $scale7/2
    .footer-left
      +span-columns(3, $break9)
    .phone-number
      +span-columns(3, $break9)
    .container
      &:before
        width: 200px
        height: 121px
        background: image-url("tablet-sprite.png") -540px 0 no-repeat

  +at-breakpoint($break12)
    padding-top: $scale8/2
    .footer-left
      +span-columns(3, $break12)
    .phone-number
      +span-columns(3, $break12)
    .container
      &:before
        width: 250px
        height: 151px
        background: image-url("desktop-sprite.png") -300px 0 no-repeat
