/* Main
  -----------------------

nav
  +span-columns(4 omega, 4)

  +at-breakpoint($break6)
    +span-columns(6 omega, $break6)

  +at-breakpoint($break9)
    +span-columns(7 omega, $break9)
    margin-top: 76px

  +at-breakpoint($break12)
    +span-columns(9 omega, $break12)
    margin-top: 100px

.nav_primary
  ul.dropdown
    position: relative
    margin: 0
    list-style-type: none
    text-align: right
    li
      display: inline-block
      zoom: 1
      font-family: $font-family-nav
      text-align: left
      +link-colors($color-nav, $color-nav, $color-nav, $color-nav, $color-nav)
    a
      display: block
      padding: $scale-5
      font-weight: 700
      text-transform: uppercase
    a:hover
      text-decoration: none
      background-color: $gray-2
    li a
      display: block
    li.active a
      color: $link-hover
    li.hover, li:hover
      position: relative

    /* LEVEL TWO */
    ul
      visibility: hidden
      position: absolute
      top: 100%
      left: 0
      width: 200px
      background-color: $bg-nav
      z-index: 1001
    ul li
      float: none
      display: inline-block
      width: 200px
    li:hover > ul
      visibility: visible

    #home
      display: none
    #language1
      +hidden

    +at-breakpoint($break9)
      a
        padding: 0 $scale-2

    +at-breakpoint($break12)
      #home
        display: inline-block
      #language1
        +reveal-hidden-inline
      #language2
        +hidden

// .nav_menu
//   .nav_primary
