/* Main
  -----------------------

nav
  +span-columns(4 omega, 4)

  +at-breakpoint($break6)
    +span-columns(6 omega, $break6)

  +at-breakpoint($break9)
    +span-columns(7 omega, $break9)
    margin-top: 71px

  +at-breakpoint($break12)
    +span-columns(9 omega, $break12)
    margin-top: 93px

.nav_primary
  ul
    list-style-type: none
    text-align: right
    border: 1px solid #e6e6e6
  li
    font-family: $font-family-nav
    border-bottom: 1px solid #eee
    text-align: left
    +link-colors($color-nav, $color-nav, $color-nav, $color-nav, $color-nav)
  li:last-child
    border-bottom: 0
  #language2, #news2
    +hidden
  a
    display: block
    padding: $scale-5
    font-weight: 700
    text-transform: uppercase
  a:hover
    text-decoration: none
    background-color: $gray-1

  +at-breakpoint($break9)
    ul
      border: 0
      +inline-block-list
    li
      border: 0
    li:first-child
      display: none
    #language1, #news1
      +hidden
    #language2, #news2
      +reveal-hidden-inline
    a
      padding: 0 $scale-2

  +at-breakpoint($break12)
    li:first-child
      display: inline-block
    #language1, #news1
      +reveal-hidden-inline
    #language2, #news2
      +hidden
    .active a
      background-color: $gray-1

.nav_menu
  .nav_primary
    position: relative
    overflow: hidden
    margin: $scale1
    a
      padding-right: $scale5
    h3
      display: block
      position: absolute
      top: 0
      left: auto
      right: 0
      width: $scale4
      height: 1.8em
      text-indent: -999em
      background: #ccc image-url("icons/arw-dwn.png") 50% 50% no-repeat
      cursor: pointer
    ul
      margin: 0
    li
      display: none
    li.active
      display: list-item
    li.active,
      border-bottom-width: 0
  .expanded li
    display: list-item
  .expanded li.active
    border-bottom-width: 1px
  .expanded h3
    background-image: image-url("icons/arw-up.png")
