#news
  background-image: image-url("heroes/news-hero-600.jpg")

  +at-breakpoint($break6)
    background-image: image-url("heroes/news-hero-800.jpg")

  +at-breakpoint($break9)
    background-image: image-url("heroes/news-hero-1024.jpg")

  +at-breakpoint($break12)
    background-image: image-url("heroes/news-hero.jpg")

#newsletters
  padding: $scale2 0 0

  +at-breakpoint($break6)
    padding-top: $scale3

  +at-breakpoint($break9)
    padding-top: $scale4

  +at-breakpoint($break12)
    padding-top: $scale5

.newsletters
  border-bottom: 5px solid $cyan
  padding-bottom: $scale2
  h2
    line-height: 1.236
    +span-columns(4 omega)
    margin: 0 0 $scale-4
    color: $cyan
  ul
    +span-columns(4 omega)
    margin: 0
    list-style-type: none
    list-style-position: inside

  +clearfix

  +at-breakpoint($break6)
    padding-bottom: $scale3
    h2
      +span-columns(2)
      margin: 0
    ul
      +span-columns(4 omega)

  +at-breakpoint($break9)
    padding-bottom: $scale4
    h2
      +span-columns(3)
    ul
      +span-columns(6 omega)

  +at-breakpoint($break12)
    padding-bottom: $scale5
    h2
      +span-columns(3)
    ul
      +span-columns(9 omega)

#stories
  h2
    color: $cyan
  ul
    list-style-position: inside

.stories
  padding-bottom: $scale2
  border-bottom: 1px solid $gray-2
  img
    max-width: 100%
    margin-bottom: $scale2b

  +at-breakpoint($break6)
    padding-bottom: $scale2c
    img
      margin-bottom: $scale1

  +at-breakpoint($break9)
    padding-bottom: $scale4
    img
      margin-bottom: $scale3

  +at-breakpoint($break12)
    padding-bottom: $scale5
    img
      margin-bottom: $scale4

// Typography Change

$news-shrink: .716

.news-shrink
  p, label, ul
    margin: 0 0 $scale-4
    font-size: $scale2 * $news-shrink
  label
    font-weight: bold

  +at-breakpoint($break6)
    p, label, ul
      margin-bottom: $scale-3
      font-size: $scale2c * $news-shrink

  +at-breakpoint($break9)
    p, label, ul
      margin-bottom: $scale-2
      font-size: $scale3 * $news-shrink

  +at-breakpoint($break12)
    p, label, ul
      margin-bottom: $scale1
      font-size: $scale4 * $news-shrink

// Golf Challenge

.register-now
  margin-bottom: 20px

.challenge-left, .challenge-right
  +span-columns(4 omega)
  label, p, ul
    float: left
  label
    width: 20%
  p, ul
    width: 80%
.challenge-right
  img
    display: none

+at-breakpoint($break6)
  .challenge-left
    +span-columns(4)
  .challenge-right
    +span-columns(2 omega)
    img
      display: block
      margin-top: 13%
      padding-left: 10%
      padding-right: 5%

+at-breakpoint($break9)
  .challenge-left
    +span-columns(6)
  .challenge-right
    +span-columns(3 omega)

+at-breakpoint($break12)
  .challenge-left
    +span-columns(9)
  .challenge-right
    +span-columns(3 omega)
    img
      padding-left: 25%

// Golf Challenge SUCCESS

#grid
  ul
    margin: 0 auto
    +clearfix
  img
    margin-bottom: 0

.grid-item
  list-style: none
  overflow: hidden
  margin-bottom: $scale1

+at-breakpoint($break9)
  .grid-item
    +span-columns(3)
    margin-bottom: gutter(9)
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(12),
    &:nth-child(15)
      +span-columns(3 omega)

+at-breakpoint($break12)
  .grid-item
    +span-columns(4)
    margin-bottom: gutter(12)
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9),
    &:nth-child(12),
    &:nth-child(15)
      +span-columns(4 omega)
