/* Panels
  -----------------------

.panel
  position: relative
  padding: $em5 0
  background-color: $bg-body
  // &:after
  //   +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: $em6 0

  +at-breakpoint($break9)
    padding: $em7 0

  +at-breakpoint($break12)
    padding: $em8 0


/* Pages
  -----------------------

@import "home"
