/* Panels
  -----------------------

.panel
  position: relative
  padding: $scale5 0
  background-color: $bg-body
  // &:after
  //   +panel-shadow(.15)

  +at-breakpoint($break6)
    padding: $scale6 0

  +at-breakpoint($break9)
    padding: $scale7 0

  +at-breakpoint($break12)
    padding: $scale8 0


/* Heroes
  -----------------------

$reduce: 2

.hero
  text-align: center
  background-color: $yellow
  background-position: center center
  background-repeat: no-repeat
  h1, h2
    color: $font-white
    +single-text-shadow(0, 5px, 5px, false, $font-black)
  h1
    line-height: 1
    font-family: $eaglefeather
    font-weight: normal
    letter-spacing: $scale-9
    text-transform: uppercase
  h2
    line-height: 1.159
    margin-top: $scale-6

    +at-breakpoint($break6)
      margin-top: $scale-5
      padding: 0 $column-width / 2

    +at-breakpoint($break9)
      margin-top: $scale-4

    +at-breakpoint($break12)
      margin-top: $scale-3

  &:before
    +panel-shadow(.15, $scale-5)

.hero_bottom
  padding: ($scale5 / $reduce) 0
  text-align: center
  background: $yellow image-url("fixtures/bg-pattern.png") 0 0 repeat
  p, blockquote
    line-height: 1.159
    margin-bottom: $scale-7
    font-family: $futura
    font-size: $scale1
    letter-spacing: $scale-9
    color: $font-gray
    text-transform: uppercase

  +at-breakpoint($break6)
    padding: ($scale6 / $reduce) 0
    p, blockquote
      font-size: $scale2

  +at-breakpoint($break9)
    padding: ($scale7 / $reduce) 0
    p, blockquote
      font-size: $scale2c

  +at-breakpoint($break12)
    padding: ($scale8 / $reduce) 0
    p, blockquote
      font-size: $scale3


/* Callout
  -----------------------

.callout
  color: $cyan

h2.callout
  line-height: 1.236
  padding-top: $scale-4
  border-top: 5px solid $cyan

+at-breakpoint($break6)
  h2.callout
    padding-top: $scale-2

+at-breakpoint($break9)
  h2.callout
    padding-top: $scale2
    font-size: $scale4

+at-breakpoint($break12)
  h2.callout
    padding-top: $scale1
    font-size: $scale5


/* Toggles
  -----------------------

// Hide elements when breakpoint < 12
// Purpose: display elements on larger desktop screens exclusively

.hide-lt-12
  +hidden

+at-breakpoint($break12)
  .hide-lt-12
    +reveal-hidden

// Hide elements when breakpoint = 12
// Purpose: display elements on ALL screen sizes smaller than larger desktop screens

+at-breakpoint($break12)
  .hide-eq-12
    +hidden

// Hide elements when breakpoint < 9
// Purpose: display elements only on larger desktop screens and tablets,
//          hide elements from mini's and the smallest screen sizes (smart phones)

.hide-lt-9
  +hidden

  +at-breakpoint($break9)
    +reveal-hidden-inline

// Hide elements when breakpoint = 4 (< 6)
// Purpose: hide elements from the smallest screen sizes only (smart phones)

.hide-lt-6, .hide-eq-4
  +hidden

  +at-breakpoint($break6)
    +reveal-hidden-inline

// Hide elements when breakpoint = 6

.hide-eq-6
  +hidden

  +at-breakpoint($break9)
    +reveal-hidden-inline

// Hide elements when breakpoint > 6
// Purpose: hide elements from tablets and desktops

.hide-gt-6
  +at-breakpoint($break9)
    +hidden

// Hide elements when breakpoint > 4
// Purpose: hide elements from everything but smart phones

.hide-gt-4
  +at-breakpoint($break6)
    +hidden

// For toggling between phone number markup

.callto
  position: absolute
  top: -9999px
  left: -9999px
  +hidden

+at-breakpoint($break9)
  .tel
    position: absolute
    top: -9999px
    left: -9999px
    +hidden

  .callto
    position: relative
    top: auto
    left: auto
    +reveal-hidden-inline


/* Pages
  -----------------------

@import "home"
@import "home_v2"
@import "students"
@import "students_v1"
@import "language"
@import "language_v1"
@import "camp"
@import "news"
@import "support"
