$reduce: 2

#scholarships1
  padding: ($scale5 / $reduce) 0 $scale2b
  text-align: center
  background: $yellow image-url("heroes/student-hero.jpg") 100% 0 no-repeat
  h1, h2
    color: $font-white
    +single-text-shadow(0, 5px, 5px, false, $font-black)
  h1
    text-transform: uppercase
  a
    display: block
    width: 151px
    height: 48px
    margin: 0 auto
    background: image-url("icons/apply-btn-738.png") 0 0 no-repeat
  a:hover
    background: image-url("icons/apply-btn-738-2.png") 0 0 no-repeat
  &:before
    +panel-shadow(.15, $scale-5)

  +at-breakpoint($break6)
    padding: ($scale6 / $reduce) 0 $scale2c

  +at-breakpoint($break9)
    padding: ($scale7 / $reduce) 0 $scale4
    a
      width: 202px
      height: 64px
      background: image-url("icons/apply-btn-989.png") 0 0 no-repeat
    a:hover
      background: image-url("icons/apply-btn-989-2.png") 0 0 no-repeat
  +at-breakpoint($break12)
    padding: ($scale8 / $reduce) 0 $scale4b
    background: $yellow image-url("heroes/student-hero.jpg") 100% 0 no-repeat

#scholarships2
  padding: ($scale5 / $reduce) 0
  text-align: center
  background-color: $yellow
  p
    text-transform: uppercase

  +at-breakpoint($break6)
    padding: ($scale6 / $reduce) 0

  +at-breakpoint($break9)
    padding: ($scale7 / $reduce) 0

  +at-breakpoint($break12)
    padding: ($scale8 / $reduce) 0

#robert
  +hidden

  +at-breakpoint($break9)
    +reveal-hidden
    .vision_image
      +span-columns(2, $break12)
      +image-portal("pics/aqqaluk.jpg", 200px)
      +box-shadow(3px -5px 5px 0 rgba(0, 0, 0, 0.15) inset, 0 0 1px rgba(0, 0, 0, 0.25) inset)
    .vision_block
      +span-columns(6 omega, $break9)
      padding-top: $scale4
      border-top: 5px solid $cyan
    .vision
      clear: both
      padding-top: $scale-2
      font-size: $scale4
      color: $cyan

  +at-breakpoint($break12)
    .vision_image
      +span-columns(4, $break12)
      margin-right: $scale1
      +image-portal("pics/aqqaluk.jpg", 275px)
      +box-shadow(3px -5px 5px 0 rgba(0, 0, 0, 0.15) inset, 0 0 1px rgba(0, 0, 0, 0.25) inset)
    .vision_block
      +span-columns(8 omega, $break12)
      padding-top: $scale5
    .vision
      padding-top: $scale1
      font-size: $scale5

#deadlines
  background: $gray-1
  table
    margin-top: $scale1
    width: 100%
  th ,td
    width: 50%
    text-align: left
  &:before
    +panel-shadow(.05, $scale-5)

  +at-breakpoint($break9)
    .semester, .quarter
      +span-columns(3, $break9)
      margin-top: 0
    .summer
      +span-columns(3 omega, $break9)
      margin-top: 0
    .vocational
      +span-columns(9 omega, $break9)
      margin-top: $scale3

  +at-breakpoint($break12)
    .semester, .quarter
      +span-columns(4, $break12)
    .summer
      +span-columns(4 omega, $break12)
    .vocational
      +span-columns(12 omega, $break12)
      margin-top: $scale4
