#scholarships
  background: $snow-blue image-url("heroes/snow-stretch.jpg") 50% 50% repeat-x
  a
    display: block
    margin: 0 auto
    width: 100px
    height: 32px
    background: image-url("icons/apply-btn-487.png") 0 0 no-repeat
  a:hover
    background: image-url("icons/apply-btn-487-2.png") 0 0 no-repeat
  &:before
    +panel-shadow(.15, $em-5)

  +at-breakpoint($break9)
    a
      width: 151px
      height: 48px
      background: image-url("icons/apply-btn-738.png") 0 0 no-repeat
    a:hover
      background: image-url("icons/apply-btn-738-2.png") 0 0 no-repeat

  +at-breakpoint($break12)
    a
      width: 202px
      height: 64px
      background: image-url("icons/apply-btn-989.png") 0 0 no-repeat
    a:hover
      background: image-url("icons/apply-btn-989-2.png") 0 0 no-repeat

#thanks
  position: relative
  // text-align: center
  background-color: $black
  +panel-trim

.thanks
  a
    margin-right: $em5
  a:nth-child(3)
    vertical-align: bottom
  a:last-child
    margin-right:  0
