#support
  background-color: $mustard
  background-image: image-url("heroes/support-hero-200.jpg")
  background-position: center bottom

  +at-breakpoint($break6)
    background-image: image-url("heroes/support-hero-250.jpg")

  +at-breakpoint($break9)
    background-image: image-url("heroes/support-hero-300.jpg")

  +at-breakpoint($break12)
    background-image: image-url("heroes/support-hero-400.jpg")

.pos_btn
  position: relative
  a
    position: absolute
    bottom: -17px
    width: 100px
    margin-left: -50px
    z-index: 1000

#image_row
  padding-bottom: 0
  .image1, .image2, .image3
    height: 93px
  .image1
    +span-columns(4, $break12)
    background: image-url("pics/support/image-1-103.jpg") 50% 0 no-repeat
  .image2
    +span-columns(4, $break12)
    background: image-url("pics/support/image-2-103.jpg") 50% 0 no-repeat
  .image3
    +span-columns(4 omega, $break12)
    background: image-url("pics/support/image-3-103.jpg") 50% 0 no-repeat

  +at-breakpoint($break6)
    .image1, .image2, .image3
      height: 141px
    .image1
      background: image-url("pics/support/image-1-157.jpg") left center no-repeat
    .image2
      background: image-url("pics/support/image-2-157.jpg") left center no-repeat
    .image3
      background: image-url("pics/support/image-3-157.jpg") left center no-repeat

  +at-breakpoint($break9)
    .image1, .image2, .image3
      height: 213px
    .image1
      background: image-url("pics/support/image-1-238.jpg") left center no-repeat
    .image2
      background: image-url("pics/support/image-2-238.jpg") left center no-repeat
    .image3
      background: image-url("pics/support/image-3-238.jpg") left center no-repeat

  +at-breakpoint($break12)
    .image1, .image2, .image3
      height: 268px
    .image1
      background: image-url("pics/support/image-1.jpg") left center no-repeat
    .image2
      background: image-url("pics/support/image-2.jpg") left center no-repeat
    .image3
      background: image-url("pics/support/image-3.jpg") left center no-repeat

#support_body
  text-align: center
  blockquote
    position: relative
    line-height: 1.236
    padding: 0 $scale4
    font-family: $futura
    font-size: $scale3
    color: $cyan
    &:before, &:after
      content: ""
      position: absolute
      top: 0
      width: 34px
      height: 27px
    &:before
      left: 0
      background: image-url("icons/quote-left.png") 0 0 no-repeat
    &:after
      right: 0
      background: image-url("icons/quote-right.png") 0 0 no-repeat

    +at-breakpoint($break6)
      font-size: $scale4

    +at-breakpoint($break9)
      font-size: $scale5

    +at-breakpoint($break12)
      font-size: $scale6

  .quote_source
    padding-bottom: $scale1
    font-family: $futura
    font-size: $scale1
    font-weight: bold
    color: $font-orange
    letter-spacing: $scale-9
    text-align: center
    text-transform: uppercase
    border-bottom: 5px solid $cyan

    +at-breakpoint($break6)
      font-size: $scale2

    +at-breakpoint($break9)
      font-size: $scale2b

    +at-breakpoint($break12)
      font-size: $scale2c

  .callout
    margin-top: $scale1

#sponsors
  +hidden

  +at-breakpoint($break9)
    // +reveal-hidden
    position: relative
    background-color: $black
    +panel-trim

.sponsors
  text-align: center
  a
    display: inline-block
    margin-right: $scale5
  a:nth-child(3)
    vertical-align: bottom
  a:last-child
    margin-right:  0

  +at-breakpoint($break9)
    .nrc
      width: 80px
      height: 45px
      background: image-url("logos/nrc-logo-sm.png") 0 0 no-repeat
    .ndc
      width: 80px
      height: 44px
      background: image-url("logos/ndc-logo-sm.gif") 0 0 no-repeat
    .akima
      width: 100px
      height: 29px
      background: image-url("logos/akima-logo-sm.png") 0 0 no-repeat
    .teck
      width: 50px
      height: 50px
      background: image-url("logos/teck-logo-sm.jpg") 0 0 no-repeat
    .whpacific
      width: 100px
      height: 24px
      background: image-url("logos/whp-logo-sm.png") 0 0 no-repeat

  +at-breakpoint($break12)
    .nrc
      width: 159px
      height: 89px
      background: image-url("logos/nrc-logo.png") 0 0 no-repeat
    .ndc
      width: 161px
      height: 89px
      background: image-url("logos/ndc-logo.gif") 0 0 no-repeat
    .akima
      width: 207px
      height: 61px
      background: image-url("logos/akima-logo.png") 0 0 no-repeat
    .teck
      width: 73px
      height: 73px
      background: image-url("logos/teck-logo.jpg") 0 0 no-repeat
    .whpacific
      width: 145px
      height: 35px
      background: image-url("logos/whp-logo.png") 0 0 no-repeat

#thanks
  +hidden

  +at-breakpoint($break9)
    // +reveal-hidden
    .united-way
      display: block
      width: 100px
      height: 43px
      background: image-url("logos/united-way-logo-sm.jpg") 0 0 no-repeat

  +at-breakpoint($break12)
    +reveal-hidden
    .united-way
      width: 200px
      height: 86px
      background: image-url("logos/united-way-logo.jpg") 0 0 no-repeat
