/* Paragraphs
  -----------------------

p, blockquote
  margin: 0 0 $em-6
  font-size: $em2

  +at-breakpoint($break6)
    margin-bottom: $em-5
    font-size: $em2c

  +at-breakpoint($break9)
    margin-bottom: $em-4
    font-size: $em3

  +at-breakpoint($break12)
    margin-bottom: $em-3
    font-size: $em4


/* Links
  -----------------------

a
  +link-colors($link-normal, $link-hover, $link-active, $link-visited, $link-focus)
  text-decoration: none
  &:hover
    text-decoration: underline


/* Headers
  -----------------------

h1, h2, h3, h4, h5
  font-family: $font-family-header
  color: $color-header

h1
  margin: 0 0 $em-2
  font-size: $em4b

h2
  margin: 0 0 $em-5
  font-size: $em2b

  +at-breakpoint($break6)
    margin-bottom: $em-4
    font-size: $em2c

  +at-breakpoint($break9)
    margin-bottom: $em-3
    font-size: $em4

  +at-breakpoint($break12)
    margin-bottom: $em-2
    font-size: $em4b

h3
  margin: 0 0 $em1
  font-size: $em2

h4
  margin: 0 0 $em-2
  font-size: $em1

h5
  margin: 0 0 $em-4
  font-size: $em-2


/* Highlighters
  -----------------------

.highlight
  background-color: yellow

::-moz-selection
  background: $color-highlight
  text-shadow: none

::selection
  background: $color-highlight
  text-shadow: none
