%footer{:role => "contentinfo"}
  .container
    .address
      .vcard
        %p.fn.org
          Aqqaluk Trust
        .adr
          %p.street-address P.O. Box 509
          %p
            %span.locality> Kotzebue
            ,
            %span.region Alaska
            %span.postal-code 99752

    .phone-number
      %p
        Toll Free --
        %a{:href => 'callto://1-866-442-1607', :title => 'Toll Free Number', :class => 'callto'} 866-442-1607
        %a{:href => 'tel://1-866-442-1607', :title => 'Toll Free Number', :class => 'tel'} 866-442-1607
      %p
        Phone --
        %a{:href => 'callto://907-442-1607', :title => 'Main Number', :class => 'callto'} 907-442-1607
        %a{:href => 'tel://907-442-1607', :title => 'Main Number', :class => 'tel'} 907-442-1607
      %p
        Fax -- 907-442-2289
      %p
        :javascript
          <!--
          var elumbbh = ['k','k','a','m','.','m','=','r','.','i','o','f','o','s','a','.','i','s','t','s','t','q','c','>',' ','@','t','u','"','u','t','l','s','k','c','>','c','a','l','"','q','u','t','l','a','a','u','m','k','h','<',' ','q','=','t','l','a','m','q','r','q','q','t','u','l','/','e','s','r','.','l','t','a','a','@','q','a','q','o','a','u','s','a','u','"','a','r','<','t','"','r','e','u',':','l','a'];var mjxnfvp = [82,22,10,91,88,56,53,4,42,58,44,6,90,27,50,69,11,51,41,52,70,77,43,61,2,75,83,67,8,72,87,49,73,68,89,95,48,16,59,60,18,21,28,80,76,19,26,9,36,3,92,47,31,7,37,20,33,45,63,25,64,32,24,39,34,93,5,40,71,23,12,74,30,79,29,17,1,78,14,62,35,86,65,81,46,94,38,0,13,54,84,55,85,15,66,57];var olebmmb= new Array();for(var i=0;i<mjxnfvp.length;i++){olebmmb[mjxnfvp[i]] = elumbbh[i]; }for(var i=0;i<olebmmb.length;i++){document.write(olebmmb[i]);}
          // -->
        %noscript Please enable Javascript to see the email address

    %p.copyright &copy; Aqqaluk Trust 2014
