%nav{:role => "navigation"}
  %ul#nav
    %li
      = link_to 'Students', '/', :title => ''
    / %li
    /   = link_to 'Donors & Sponsors', '/', :title => ''
    / %li
    /   = link_to 'Lanuage & Culture', '/', :title => ''
    / %li
    /   = link_to 'News & Events', '/', :title => ''
    %li
      = link_to '/', :title => '' do
        Donors
        %span.hide-lt-9
          &amp;
          Sponsors
    %li
      = link_to '/', :title => '' do
        %span.hide-lt-9
          Lanuage
          &amp;
        Culture
    %li
      = link_to '/', :title => '' do
        News
        %span.hide-lt-9
          &amp;
          Events
