%nav{:role => "navigation"}
  %a{:href => '#main', :title => '', :class => 'screen-reader-text'} Skip to main content
  %ul#nav
    %li.current
      = link_to 'Students', pages_students_path, :title => ''
    %li
      = link_to pages_language_path, :title => '' do
        Lanuage
        %span.hide-lt-9
          &amp;
        Culture
    %li
      = link_to pages_news_path, :title => '' do
        News
        %span.hide-lt-9
          &amp;
          Events
    %li
      = link_to pages_sponsors_path, :title => '' do
        Donors
        %span.hide-lt-9
          &amp;
          Sponsors
