%a{href: "/", title: 'Facebook', class: 'icon'}
  %span{"aria-hidden" => "true", "data-icon" => "&#xe600;".html_safe}
  %span.screen-reader-text Facebook
%a{href: "/", title: 'Twitter', class: 'icon'}
  %span{"aria-hidden" => "true", "data-icon" => "&#xe602;".html_safe}
  %span.screen-reader-text Twitter
-# %a{href: "/", title: 'Instagram', class: 'icon'}
-#   %span{"aria-hidden" => "true", "data-icon" => "&#xe601;".html_safe}
-#   %span.screen-reader-text Instagram
