.utility
  %a{:href => pages_students_path, :title => 'Scholarships'}
    Apply
    %span.hide-eq-4 for scholarship
  %span.divider &#124;
  %a{:href => pages_sponsors_path, :title => 'Become a sponsor'} Sponsor
