.markdown_panel{'data-edit_markdown_path' => edit_markdown_path, 'data-markdown_source_y' => markdown_source_z}
  = compile_markdown(markdown_source_z)

  = link_to 'edit', '#', class: 'markdown_panel_edit'
