- content_for :title do
  About Us
= currently_at 'About Us'

%section.panel#culture
  .container
    .face
      .box
        %h2.callout Our way of life.
    .culture
      %p.p_shrink Aqqaluk Trust is a 501 (c)3 non-profit private foundation. The Aqqaluk Trust was founded in 1989 in honor of Robert Aqqaluk Newlin, Sr., one of the great Iñupiat leaders. The foundation first provided scholarship funding for eligible applicants seeking training or pursuing their secondary education.
      %p.hide-lt-9.p_shrink Since its inception, Aqqaluk Trust has grown and now provides more Iñupiaq language and cultural resources. Aqqaluk Trust currently focuses on three major areas related to the language, culture, and education of the Iñupiat people of northwest Alaska.
