= title 'Student Blog'
= nav_switch 'Student Blog'

%section#blog.panel.hero
  .container
    %h1 Student Blogs

%section.panel.hero_bottom
  .container
    %p Need some kind of catchy enticement content for students to submit blogs here.

%section.panel#student-blog
  .container
    .student-blog
      %p Placeholder.
