= title 'Board Members'
= nav_switch 'Board Members'

%section#our-board.panel.hero
  .container
    %h1 Board Members
%section.panel.hero_bottom
  .container
    %p Add some content for this section.

%section.panel#board-members
  .container
    .board-members
      %p Board Members - photos and bios
