= title 'Camp'
= nav_switch 'Camp'

%section.panel#camp.hero
  .container
    %h1 Camp Sivunniigvik
%section.panel.hero_bottom
  .container
    %blockquote "Camp Sivu is important because it reminds me of who I am."
    %p.quote_source — Isaiah, age 12

%section.panel#camp_body
  .container
    .sidebar
      .box
        %h2.callout Camp Sivunniigvik is more than just a camping trip.
        = link_to 'Register Your Interest', '/Complete Camper Application.pdf', :title => '', :class => 'orange_btn'
        %br
        %br
        %a{href: '#', title: ''} Find us on Facebook
    .camp_top
      %p.callout It is a place where the lessons and values of the Iñupiaq people are learned.
      %p.p_shrink The summer programs of Sivunniigvik are one facet of many in the NANA region to instill in the minds and character of our youth our traditional Iñupiaq values.  These values are universal and, when learned, can instill in each individual self-confidence and self-respect as well as respect for others, animal life, and nature.
      %p.p_shrink The Aqqaluk Trust brings youth from across the northwest Arctic region to Camp Sivunniigvik.
    .image_row_1
      .image1
      .image2
    .image_row_2
      .image3
      .image4
    .camp_bottom
      %p Camp Sivunniigvik has week long summer camp sessions and is located in the northern part of the Kobuk River delta, where Ugrivik River meets the Melvin Channel, approximately 30 air miles east of Kotzebue.
      = link_to 'Complete our Camper Application', '/Complete Camper Application.pdf', :title => '', :class => 'blue_btn'
