- content_for :title do
  Camp Sivunniigvik

%section.panel
  .container
    %h2 Camp Sivunniigvik
    %p "Camp Sivu is important because it reminds me of who I am."
    %p — Isaiah, age 12
    %p Camp Sivunniigvik is more than just a camping trip. It is a place where the lessons and values of the Iñupiaq people are learned.
    %p The summer programs of Sivunniigvik are one facet of many in the NANA region to instill in the minds and character of our youth our traditional Iñupiaq values.  These values are universal and, when learned, can instill in each individual self-confidence and self-respect as well as respect for others, animal life, and nature.
    %p The Aqqaluk Trust brings youth from across the northwest Arctic region to Camp Sivunniigvik.
    %p Camp Sivunniigvik is a week long summer camp located in the northern part of the Kobuk River delta, where Ugrivik River meets the Melvin Channel, approximately 30 air miles east of Kotzebue.
