- content_for :title do
  Education
- for_device_type :mobile do
  = nav_at 'Education', in: 'mobile'
- for_device_type :desktop do
  = nav_at 'Education'
=# nav_switch 'Education'

%section.panel#scholarships.hero
  .container
    %h1 Education
    %h2 The Aqqaluk Trust awards scholarships to NANA shareholders, their descendents and dependents that are pursuing college and post-graduate degrees and post-secondary education.
    %a{:href => 'https://aqqalukstudents.fireweedhcms.com/', :target => '_blank', :title => '', :class => 'orange_btn'} Apply Today!
%section.panel.hero_bottom
  .container
    %p Scholarships are awarded based on a variety of criteria including demonstrated commitment to Iñupiaq values, prior academic performance, and letters of recommendations.


%section.panel#robert
  .container
    .vision_image
    .vision_block
      %p.p_shrink Robert Aqqaluk Newlin, Sr. recognized that in order to survive in the changing world, young people must not only have a strong cultural identity, but must also be educated and well prepared for jobs and careers. Robert Newlin, Sr. always encouraged young people to continue with their education and to bring their skills and knowledge back to their people.
      %p.callout And today, thanks to his vision the Aqqaluk Trust is the most important source of educational funding for the NANA region.

%section.panel#deadlines
  .container
    %h2 Scholarship Deadlines
    .deadlines
      %a{href: 'https://aqqalukstudents.fireweedhcms.com/', title: ''} For Application Deadlines Click Here
    .semester
      %h3 Semester Schedule
      %p.p_shrink Fall / August 1
      %p.p_shrink Spring / January 10
    .quarter
      %h3 Quarter/Trimester
      %p.p_shrink Fall / August 1
      %p.p_shrink Winter / November 1
      %p.p_shrink Spring / March 1
    .summer
      %h3 Summer Session
      %p.p_shrink June 1
    .vocational
      %h3 Vocational/Technical Scholarships
      %p.p_shrink Must be completed before the first day of class.

%section.panel#testimonial.student-panel
  .container
    #carousel2
      .testimonial
        .profile.pic1
        .profile-block
          %p "I am a scholarship recipient and can honestly say I would not be in school without the Trusts help! Thank you for supporting my dreams."
          %p.p_shrink.quote_source Stefanie Armstrong
          %a{:href =>   'https://aqqalukstudents.fireweedhcms.com/', :target => '_blank', :title => '', :class => 'blue_btn'} Apply Today!
      .testimonial
        .profile.pic2
        .profile-block
          %p "Thank you Aqqaluk Trust!!!!! Thanks for chipping in on my training twice!!!!! Building Maintenance and Millwright Maintenance. Now watch."
          %p.p_shrink.quote_source Thomas Nay
          %a{:href =>   'https://aqqalukstudents.fireweedhcms.com/', :target => '_blank', :title => '', :class => 'blue_btn'} Apply Today!
      .testimonial
        .profile.pic3
        .profile-block
          %p "Aqqaluk Trust-imi iluqaan quyanaaġikpisi! I am grateful to everyone at A.T.! Taikuu for the work you do."
          %p.p_shrink.quote_source Naaqtuuq Dommek
          %a{:href =>   'https://aqqalukstudents.fireweedhcms.com/', :target => '_blank', :title => '', :class => 'blue_btn'} Apply Today!
      .testimonial
        .profile.pic4
        .profile-block
          %p "Thank you Aqqaluk Trust! NANA, Dr. Lathrop, and all others who have supported my ventures in becoming a dentist. 3.5 more years till I'm back home!!"
          %p.p_shrink.quote_source Zazell Staheli
          %a{:href =>   'https://aqqalukstudents.fireweedhcms.com/', :target => '_blank', :title => '', :class => 'blue_btn'} Apply Today!
