= title 'FAQ'
= nav_switch 'FAQ'

%section#faq.panel.hero
  .container
    %h1 Frequently Asked Questions

%section.panel.hero_bottom
  .container
    %p Here are our most frequently asked questions. If you need more information please call 907-442-1607.

%section#questions.panel
  .container
    .questions
      %p
        %strong Q.
        This is a question.
      %p
        %strong A.
        This is an answer.
      %p
        %strong Q.
        This is a question.
      %p
        %strong A.
        This is an answer.
      %p
        %strong Q.
        This is a question.
      %p
        %strong A.
        This is an answer.
      %p
        %strong Q.
        This is a question.
      %p
        %strong A.
        This is an answer.
