= title 'Founder'
= nav_switch 'Founder'

%section#our-founder.panel.hero
  .container
    %h1 Founder
%section.panel.hero_bottom
  .container
    %p Add some content for this section.

%section.panel#newlin
  .container
    .newlin
      %p Roberty Aqqaluk Newlin - additional photos, quotes, and if possible soundbites
