- content_for :title do
  Home

%section#hero
  #carousel
    .slide.home.active
      .slide-block
        %h2
          %span.a Empowering
          %br
          the iñupiat people through
          %span.b language,
          %span.c culture
          %br
          and
          %span.d education.
    .slide.camp
      .slide-block
        %h2
          %span.a At Camp Sivu
          %span.b education
          %span.c is
          %span.d fun
          %span.e for kids!
    .slide.students
      .slide-block
        %h2
          %span Scholarships
          %span.mission
            Aqqualuk Trusts greatest mission
            %br
            is to assist in the education of
            %br
            Iñupiat people.
        %a{:href => '#', :title => '', :class => 'ir'}
          %span
        %ul
          %li
            859
            %br
            Students Helped
          %li
            $1.2 million
            %br
            Total Expenditure
          %li
            492
            %br
            Active Sponsors
    .slide.language
      .slide-block
        %h2
          %span Enrich
          your culture by learning the
          %br
          Iñupiat language!
        %p
          %a{:href => pages_language_path, :title => ''} Click here
          for your
          %strong FREE
          %br
          copy of Rosetta Stone

  = link_to '', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to '', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager
    %a.selected{href: "#"}
      %span 1
    %a{href: "#"}
      %span 2
    %a{href: "#"}
      %span 3
    %a{href: "#"}
      %span 4
    %a{href: "#"}
      %span 5

%section.panel#testimonial
  .container
    = image_tag 'icons/circle-quote.png', :alt => 'Testimonials', :width => '170', :height => '164', :class => 'hide-lt-12 hide-lt-9'
    = image_tag 'icons/circle-quote-100.png', :alt => 'Testimonials', :width => '100', :height => '96', :class => 'hide-eq-12'
    #carousel2
      .testimonial
        .profile.pic1
        .profile-block
          %p "I'm proud to be a sponsor! Having a part in improving the lives of children and preserving culture is a great feeling!"
      .testimonial
        .profile.pic2
        .profile-block
          %p "Aqqaluk Trust helps prepare our children for their futures."
      .testimonial
        .profile.pic3
        .profile-block
          %p "Language class has shown me how fun learning our language can be."
      .testimonial
        .profile.pic4
        .profile-block
          %p "Camp Sivu is important because it teaches me about who I am, where I come from."

%section.panel#founder
  .container.wood1
  .founder
    .container
      %h2
        %span.hide-eq-4 Who is
        Robert Aqqaluk
        %span.hide-eq-4 Newlin Sr.?
  .container.wood2
    .quote
      %blockquote Hard work has changed somewhat. When I was growing up we had no stove oil, we had no electricity, we had no good homes . . .but we had to work in order to be alive. Things change, but there’s still a lot of things that a fellow can do.”
      %p -- Robert Aqqaluk Newlin, Sr.
      %p.last
        Learn how
        %a{:href => pages_language_path, :title => ''} Robert's vision
        can help you!

%section.panel#culture
  .container
    .culture
