- content_for :title do
  Home
= currently_at 'Home'

%section#hero
  #carousel
    .slide.home.active
      .slide-block
        %h2
          %span.a Empowering
          %br
          the Iñupiat through
          %span.b language,
          %span.c culture
          %br
          and
          %span.d education.
    .slide.camp
      .slide-block
        %h2
          %span.a At Camp Sivunniigvik
          %span.b education
          %span.c is
          %span.d fun
          %span.e for kids!
          %a{:href => pages_camp_path, :title => 'Camp Sivu'}
    .slide.students
      .slide-block
        %h2
          %span Scholarships
          %span.mission
            Aqqaluk Trusts greatest mission
            %br
            is to assist in the education of
            %br
            Iñupiat people.
        %a{:href => 'https://aqqalukstudents.fireweedhcms.com/', :title => '', :class => 'orange_btn'} Apply Today!
        %ul
          %li
            355
            %br
            Students Helped
            %br
            in 2013
          %li
            $874,000
            %br
            2013 Scholarships
          %li
            22
            %br
            Active Sponsors
    .slide.language
      .slide-block
        %h2
          %span Enrich
          your culture by learning the
          %br
          Iñupiat language!
        .rosetta
        %p
          = link_to 'CLICK HERE', '/Inupiaq Language CD Order Form.pdf', :title => 'Order CD-ROM'
          to order

  = link_to '', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to '', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager
    %a.selected{href: "#"}
      %span 1
    %a{href: "#"}
      %span 2
    %a{href: "#"}
      %span 3
    %a{href: "#"}
      %span 4

%section.panel#testimonial
  .container
    #carousel2
      .testimonial
        .profile.pic1
        .profile-block
          %p "I am a scholarship recipient and can honestly say I would not be in school without the Trusts help! Thank you for supporting my dreams."
          %p.p_shrink.quote_source Stefanie Armstrong
      .testimonial
        .profile.pic2
        .profile-block
          %p "Thank you Aqqaluk Trust!!!!! Thanks for chipping in on my training twice!!!!! Building Maintenance and Millwright Maintenance. Now watch."
          %p.p_shrink.quote_source Thomas Nay
      .testimonial
        .profile.pic3
        .profile-block
          %p "Aqqaluk Trust-imi iluqaan quyanaaġikpisi! I am grateful to everyone at A.T.! Taikuu for the work you do."
          %p.p_shrink.quote_source Naaqtuuq Dommek
      .testimonial
        .profile.pic4
        .profile-block
          %p "Thank you Aqqaluk Trust! NANA, Dr. Lathrop, and all others who have supported my ventures in becoming a dentist. 3.5 more years till I'm back home!!"
          %p.p_shrink.quote_source Zazell Staheli

%section.panel#founder
  .container.wood1
  .founder
    .container
      %h2
        %span.hide-eq-4 Who is
        Robert Aqqaluk
        %span.hide-eq-4 Newlin Sr.?
  .container.wood2
    .quote
      %blockquote Hard work has changed somewhat. When I was growing up we had no stove oil, we had no electricity, we had no good homes ...but we had to work in order to be alive. Things change, but there’s still a lot of things that a fellow can do.”
      %p -- Robert Aqqaluk Newlin, Sr.
      %p.last
        %a{:href => pages_support_path, :title => 'Become a sponsor', :class => 'orange_btn'} Donate Now!

%section.panel#culture
  .container
    %p Fill in with something?
