%section.panel#hero
  .container
    .hero
      %h1 Pages#home
      %p Find me in app/views/pages/home.html.haml

%section.panel#testimonials
  .container
    .testimonials
      %p Testimonials

%section.panel#founder
  .container
    .founder
      %p Founder

%section.panel#culture
  .container
    .culture
      %p Culture
