- content_for :title do
  Language & Culture
= currently_at 'Language & Culture'

%section.panel#commission.hero
  .container
    %h1 Language &amp; Culture
%section.panel.hero_bottom
  .container
    %p In 2005 the Aqqaluk Trust and the Native Village of Kotzebue conducted a survey showing that only 14 percent of the regions residents understand Iñupiaq fluently, with 92% of fluent speakers over  the age of 65.
    #slidingDiv
      %p More Northwest Arctic Borough residents understand the Iñupiaq language, than speak it. For those residents over the age of 65, 96% indicated some degree of understanding the Iñupiaq language, while 70% of the residents under the age of 18 indicated an understanding.
      %p Eleven individual communities were surveyed. Seventy-two percent of the survey respondents did not indicate speaking ability, while 14% indicated the ability to speak the Iñupiaq language fluently.
    %a.show_hide{:href => "#", "data-link" => "#slidingDiv"} READ MORE

%section.panel#language_body
  .container
    .sidebar
      .box
        %h2.callout.callout_switch
          %span.hide-eq-4 The Iñupiaq Rosetta Stone CD-ROM
          %span.hide-gt-4 CD- ROM
    .image_row_1
      .image1
      .image2
    .language_top
      %p.callout The Coastal & Kobuk-Selawik dialect Iñupiaq Language CD-ROM learning tools are now available for purchase.
      %p.p_shrink The software program, developed by NANA with consultation from Rosetta-Stone, is instrumental in learning and  preserving the Iñupiaq Language in the Northwest Arctic and beyond.
      %p.p_shrink The Language CD-ROM is available for purchase for $195 each. Mail orders add $10.00 shipping and handling; additional orders ship for just $3 per CD-ROM.
      %a{:href => '#', :title => 'Order Iñupiaq Language CD-ROM', :class => 'orange_btn'} Order Now!
    .image_row_2
      .image3
      .image4
    .sidebar2
      %h2.callout
        %span.hide-eq-4 A little about the oral history project.
        %span.hide-gt-4 Oral History
    .sidebar3
      .box
        %h3.callout We envision that each generation can use the words of our elders to understand their story in today’s reality, and to carry on the values that ground us as Iñupiat.
    .language_bottom
      %p.p_shrink The Aqqaluk Trust has acquired nearly 750 audio cassette tapes of elders on a number of subjects, ranging from traditional subsistence practices to personal stories from the past. We know there may be other types of media content out there that need to be compiled, housed, and supported with the development of new multi-media.
      %p.p_shrink The Aqqaluk Trust strategies are to create a successful language revitalization effort. Teaching children through the creation of language nests is just one idea of how Iñupiaq can be more commonly spoken.
      %p.p_shrink The goal of the Aqqaluk Trust language department is to connect the Elders with the children through the creation of language nests. These language nests are events and places where Iñupiaq is exclusively spoken so that the children of the region are exposed to the language in practical settings.
