= title 'Memorial Fund'
= nav_switch 'Memorial Fund'

%section.panel#donation
  .container
    %p In honor of Ruth Blankenship Sandvik, in lieu of flowers we recommend a donation to the Ruth Blankenship Sandvik Scholarship Fund of the Aqqaluk Trust. Aqqaluk Trust is a non-profit organization that provides programs and scholarships for the benefit of the NANA region.
    .donate
      %a{:href => 'https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9MFSFEZ84DB68', :target => '_blank', :title => '', :class => 'orange_btn'} Donate to the Ruth Sandvik Fund

%section.panel#bio
  .container
    .info_ruth
      .ruth
      %p Ruth Blankenship Sandvik
      %p.hide-eq-12
        9/25/28 &ndash; 4/29/14
      %p.hide-lt-12
        September 25, 1928 &ndash;
        %br April 29, 2014
      %p Born: Kotzebue Alaska
      %a{:href => 'http://memorialwebsites.legacy.com/RuthSandvik/homepage.aspx', :title => '', :class => 'cyan_btn'}
        %span.hide-lt-12 See more photos
        %span.hide-eq-12 Photos
    %h2.history Ruth Blankenship Sandvik was born in 1928 in Kotzebue. Her Iñupiaq name is AianiIaq. She was the daughter of Walter and Nellie Blankenship and had a younger sister named Ida.
    %p.clear Walter was away from home when she was born and her mother named her Faith. When he came back he said he didn’t like that name and she was called Ruth for the rest of her life. The family lived in Selawik and Candle, and moved to Kiana where Walter bought a store.
    %p
      Ruth was a fluent speaker of both English and Iñupiaq. She loved to know the Iñupiaq place names along the Kobuk River and what family traditionally camped where.
      %span.hide She knew the history...
    #slidingDiv
      %p.p_shrink She knew the history of the people of our region and studied the anthropology of the area. She practiced the value of hard work and admired other people who shared the habit. Her close friends were Percy and Rosaline Jackson, Martha Wells, Esther Curtis, Eva Baldwin, Cora Gooden, Hilda and Leonard Morena, Robert and Maggie Newlin, Faith Moyer, Minnie Gray, Andrew and Vera Skin, Veda Mulluk, Pauline George, Charlie Curtis, Thomas Jackson—all people who were expert at hunting, fishing, gathering, sewing and successfully living off the land.
      %p.p_shrink Ruth was well-educated. She started elementary school in Kiana, went to boarding school in White Mountain and finished high school in Fairbanks where she and her sister Ida lived with the famous bush pilot Sam White and his wife Mary. Ruth worked her way through college at the University of Alaska in Fairbanks as a secretary to Otto Geist in the Archaeology Department, earned a degree in biology and became a high school biology teacher. She loved the academic life and received the 1951 Marion Frances Boswell Award for character, personality, scholarship and activities.
      %p.p_shrink In Fairbanks, Ruth met a mining engineering student, Peter Sandvik, who was the son of Matanuska colonists. Peter taught at the college in Fairbanks and went on to receive master’s and doctorate degrees at the Colorado School of Mines and Stanford University. Ruth and Peter were married in 1953 and became the parents of seven children—Kara, Robin, Helvi, Kristin, Thor, Trygve and Stacy. The Sandvik family lived in several places over the years—Nome, Fairbanks, Colorado, California, Illinois—but always considered Kiana home. Pete had a successful career as a geologist with an international mining company.
      %p.p_shrink Ruth and her cousin Robinson “Rob” Blankenship, who had moved to Kiana from North Carolina in 1940, became the owners of Blankenship Trading Post in the late 1950s, upon the death of Walter. As the wife of a geologist who worked in the field during the summer, it worked out for Ruth to take the kids and spend summers in Kiana building the business. Pete used his vacation time to work with Rob to design and build additions to the store, warehouses and cabins. Together, Rob and Ruth met the mail plane for 30 years, built a lodge called Kobuk Camp, and served their customers in Kiana, Noorvik, Selawik and other villages too. Rob was an extra father figure for all of the Sandvik siblings.
      %p.p_shrink Ruth was an adventurer--an Iñupiaq woman who truly walked in both worlds with one spirit. In recent years, following the deaths of Peter in 1995, and Rob in 2001, she continued to do her work operating her store and being a part of the lives of her children and 16 grandchildren. She traveled to many places in the world with Pete—China, Australia, Mexico, New Zealand, Canada, England, Wales, Ireland, Scotland, Tibet—and also with a very dear friend, Bob Marovelli who went to college with Pete and Ruth and remained friends for 60 years. She and Bob just spent a week in New Orleans where they listened to jazz and visited the World War II museum and historical sites. For the past several years Bob came up to keep Ruth company, to help out with chores and to fish. We consider him family, and always will.
    %a.show_hide{:href => "#", "data-link" => "#slidingDiv"} Read more

%section.panel#thank_you
  .container
    %h2 Thank You
    %p Our family is thankful for the love and friendship shown to our mother throughout the years by more people than we can name. We will forever be grateful for the incredible kindness and care for both our mother and Bob in her last few hours by Chris Stein, Jana Schuerch and Charlie Peterson, Lee and Heanie Staheli, Vickie Norton, Lorry and Nellie Schuerch and for the prayers of the Kiana people.
