- content_for :title do
  News & Events

%section.panel#news.hero
  .container
    %h1 News &amp; Events
%section.panel.hero_bottom
  .container
    %p Stay informed with the latest from Aqqaluk Trust

%section.panel
  .container
    %h2 The 2014 Uuttukuu Snow Golf Challenge will take place on February 28th.
    %p Interested in participating?  Here's how to do it:
    %ul
      %li Recruit a team of 4 of your most fun friends/colleagues
      %li Download the registration form
      %li Fill the registration form out completely & include payment
      %li Submit the registration form to the Aqqaluk Trust
      %li Come to the University Lake SpringHill Suites Marriott on Feb. 28th and don't forget your camera!
    %a{:href => '#', :title => ''} CLICK HERE TO DOWNLOAD THE REGISTRATION FORM
