- content_for :title do
  News & Events
= currently_at 'News & Events'

%section.panel#news.hero
  .container
    %h1 News &amp; Events
%section.panel.hero_bottom
  .container
    %p Stay informed with the latest from Aqqaluk Trust

%section.panel#newsletters
  .container
    .newsletters
      %h2 Our Past Newsletters
      %ul
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5r0e-SLRXDMg?w=3', :title => ''} Vol. 4, No. 1, News from Aqqaluk Trust, September 20, 2013
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5pwQSh4rOew_?w=3', :title => ''} Vol. 2, No. 3, News from Aqqaluk Trust, October 2, 2012
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5kaCPvKBdSMI?w=3', :title => ''} Vol. 3, No. 3, News from Aqqaluk Trust, December 20, 2012

%section.panel#stories
  .container
    .stories
      %h2 The 2014 Uuttukuu Snow Golf Challenge will take place on February 28th.
      = image_tag 'pics/news/NMs.jpg', :alt => ''
      %p Interested in participating?  Here's how to do it:
      %ul
        %li Recruit a team of 4 of your most fun friends/colleagues
        %li Download the registration form
        %li Fill the registration form out completely & include payment
        %li Submit the registration form to the Aqqaluk Trust
        %li Come to the University Lake SpringHill Suites Marriott on Feb. 28th and don't forget your camera!
      %a{:href => '#', :title => ''} CLICK HERE TO DOWNLOAD THE REGISTRATION FORM
