- content_for :title do
  News & Events
- for_device_type :mobile do
  = nav_at 'News & Events', in: 'mobile'
- for_device_type :desktop do
  = nav_at 'News & Events'
=# nav_switch('News & Events')

%section.panel#news.hero
  .container
    %h1 News &amp; Events
%section.panel.hero_bottom
  .container
    %p Stay informed with the latest from Aqqaluk Trust

%section.panel#newsletters
  .container
    .newsletters
      %h2 Our Past Newsletters
      %ul
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5r0e-SLRXDMg?w=3', :title => ''} Vol. 4, No. 1, News from Aqqaluk Trust, September 20, 2013
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5pwQSh4rOew_?w=3', :title => ''} Vol. 2, No. 3, News from Aqqaluk Trust, October 2, 2012
        %li
          %a{:href => 'http://www.icontact-archive.com/v93Wl9ESven72SGB8-1-5kaCPvKBdSMI?w=3', :title => ''} Vol. 3, No. 3, News from Aqqaluk Trust, December 20, 2012
