= title 'Savaktuq'
= nav_switch 'Savaktuq'

%section#savaktuq.panel.hero
  .container
    %h1 Savaktuq
%section.panel.hero_bottom
  .container
    %p Add some content for this section.

%section.panel#savaktuq-links
  .container
    .savaktuq-links
      %p Useful links for students and parents

%section.panel#savaktuq-info
  .container
    .savaktuq-info
      %p Useful information for students and parents
