- content_for :title do
  Savaktuq
= currently_at 'Savaktuq'

%section.panel#savaktuq-links
  .container
    .savaktuq-links
      %p Useful links for students and parents

%section.panel#savaktuq-info
  .container
    .savaktuq-info
      %p Useful information for students and parents 
