- content_for :title do
  Donors & Sponsors

%section.panel#deadlines
  .container
    %p Our mission is the driving force of our organization and sole purpose. Supporting Aqqaluk Trust is sustaining the past, present, and future of our Iñupiaq people.

%section.panel#deadlines
  .container
    %p Aqqaluk Trust is a non-profit organization that relies on public funds and private contributions to provide programs and scholarships for the benefit of the Iñupiat of the NANA region.

%section.panel#deadlines
  .container
    %p Your donation makes a significant difference in the impact of our programs.  Your contribution supports educational scholarships, Iñupiaq language revitalization efforts, and cultural sustainability of the northwest Arctic region.
