= title 'Staff'
= nav_switch 'Staff'

%section#our-staff.panel.hero
  .container
    %h1 Staff
%section.panel.hero_bottom
  .container
    %p Add some content for this section.

%section.panel#staff
  .container
    .staff
      %p Staff - photos and bios
