- content_for :title do
  Students

%section.panel#scholarships.hero
  .container
    %h1 Students
    %h2 The Aqqaluk Trust awards scholarships to NANA shareholders, their descendents and dependents that are pursuing college and post-graduate degrees and post-secondary education.
    %a{:href => '#', :title => '', :class => 'ir'}
      %span Apply Today!
%section.panel.hero_bottom
  .container
    %p Scholarships are issued based on a variety of criteria including demonstrated commitment to Iñupiaq values, prior academic performance, and recommendations from others.

%section.panel#robert
  .container
    .vision_image
    .vision_block
      %p Robert Aqqaluk Newlin, Sr. recognized that in order to survive in the changing world, young people must not only have a strong cultural identity, but must also be educated and well prepared for jobs and careers. Robert Newlin, Sr. always encouraged young people to continue with their education and to bring their skills and knowledge back to their people.
      %p.vision And today, thanks to his vision the Aqqaluk Trust is the most important source of educational funding for the NANA region.

%section.panel#deadlines
  .container
    %h2 Scholarship Deadlines
    .semester
      %h3 Semester Schedule
      %p Fall / August 1
      %p Spring / January 10
    .quarter
      %h3 Quarter/Trimester
      %p Fall / August 1
      %p Winter / November 1
      %p Spring / March 1
    .summer
      %h3 Summer Session
      %p June 1
    .vocational
      %h3 Vocational/Technical Scholarships
      %p Must be completed before the first day of class.
