- content_for :title do
  Students

%section.panel#scholarships
  .container
    %h2 The Aqqaluk Trust awards scholarships to NANA shareholders, their descendents and dependents that are pursuing college and post-graduate degrees and post-secondary education.
    %p Scholarships are issued based on a variety of criteria including demonstrated commitment to Iñupiaq values, prior academic performance, and recommendations from others.
    %a{:href => '#', :title => '', :class => 'ir'}
      %span Apply Today!

%section.panel#robert
  .container
    .profile-block
      %p Robert Aqqaluk Newlin, Sr. recognized that in order to survive in the changing world, young people must not only have a strong cultural identity, but must also be educated and well prepared for jobs and careers. Robert Newlin, Sr. always encouraged young people to continue with their education and to bring their skills and knowledge back to their people.
    .profile.aqqaluk
    %p.vision And today, thanks to his vision the Aqqaluk Trust is the most important source of educational funding for the NANA region.

%section.panel#deadlines
  .container
    %h1 Aqqaluk Trust College/University and Vocational/Technical Applications
    %h2 College University Scholarships
    %ul
      %li
        %strong Semester Schedule
        August 1st (annual fall), January 10th (spring)
      %li
        %strong Quarter/Trimester Schedule
        August 1st (annual fall), November 1st (winter), March 1st (spring)
      %li
        %strong Summer Session
        June 1st (summer)
    %h2 Vocational/Technical Scholarships
    %ul
      %li Application and supporting documents must be completed
      %strong before the first day of class.
    %a{:href => '#', :title => ''} Please apply for Aqqaluk Trust Scholarships here.
