%head
  %meta{:charset => "utf-8"}
  %link{:rel => "dns-prefetch", :href => "//fonts.googleapis.com"}
  /[if IE] %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

  %title= content_for?(:title) ? yield(:title) : "Aqqaluk Trust"
  -# alternative title format.
  -# %title= content_for?(:title) ? ("Aqqaluk Trust - " + yield(:title)) : "Aqqaluk Trust"

  %meta{:name => "description", :content => "Aqqaluk Trust"}
  %meta{:name => "viewport", :content => "width=device-width"}
  -# to match layout to device width and set zoom level to 1:1
  -# %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  %link{:rel => "shortcut icon", :href => "/favicon.ico"}
  %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}

  = stylesheet_link_tag "application"
  -# for production customize modernizr at: http://www.modernizr.com/download/
  -# IMPORTANT: add the following to production.rb:
  -# config.assets.precompile += %w( modernizr-2.6.2.min.js )
  = javascript_include_tag 'modernizr-2.6.2.min'

  = csrf_meta_tag
