.utility
  -# %a{:href => golf_challenge_path, :title => 'Memoria Fund', :class => 'blue_btn'}
  -#   %span.hide-eq-4.hide-eq-6 Uuttukuu
  -#   %span.hide-eq-4 Snow Golf
  -#   Challenge
  %a{:href => education_path, :title => 'Scholarships', :class => 'cyan_btn'}
    Apply
    %span.hide-eq-4.hide-eq-6 for Scholarship
  %a{:href => support_path, :title => 'Become a sponsor', :class => 'blue_btn'} Suppport Us
