.utility
  %a{:href => pages_students_path, :title => 'Scholarships', :class => 'cyan_btn'}
    Apply
    %span.hide-eq-4 for Scholarship
  %a{:href => pages_support_path, :title => 'Become a sponsor', :class => 'blue_btn'} Sponsor
